@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to left top, #b6b6b7, #b2b2b5);
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
}

.container {
  text-align: center;
  background-color: #f2f2f2;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 1000px;
  min-height: 600px;
  max-width: 90%;
  box-shadow: 2px 5px 6px #160120;
}

h1 {
  text-align: center;
  font-size: 3.0rem;
  color: #40a070;
  margin-bottom: 2rem;
}

.container .type-Input {
  margin-top: 4rem;
  font-size: 2rem;
}

.timercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 4rem;
  font-weight: bold;
  color: #40a070;
}

.type-Display {
  text-align: start;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.type-Input {
  background: transparent;
  border: 2px solid #40a070;
  outline: none;
  width: 100%;
  height: 14rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.type-Input:focus {
  border: 3px solid #40a070;
  ;
}


.correct {
  color: rgb(2, 161, 76);
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.status-area {
  margin: 20px 0;
  font-size: 18px;
  color: #4d4d4d;
}

.correctTyped {
  font-weight: bold;
  color: #40a070;
}

.accuracy-value {
  font-weight: bold;
  color: #40a070;
}

.start-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #40a070;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #357357;
}


@media(max-width: 600px) {
  body {
    overflow: scroll;
  }


  .container {
    font-size: 1rem;
    font-weight: 600;
    padding: 3rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 600px;
    max-width: 90%;
  }

  h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .timer {
    font-size: 2rem;
    font-weight: bold;
  }

  .container .type-Input {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .type-Input {
    outline: none;
    width: 100%;
    height: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}
